@import url(http://fonts.googleapis.com/css?family=Open+Sans);
h1 { text-align: center; }

.ui-on-off { display: block; position: relative; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-top: 5px; }
.ui-on-off:before, .ui-on-off:after { display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 32px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; line-height: 32px; cursor: pointer; }
.ui-on-off:before { content: "OFF"; border: solid 1px #aaa; width: 83px; vertical-align: middle; background: #ccc; padding-left: 41.5px; text-align: center; color: #888; }
.ui-on-off:after { content: ""; border: solid 1px #ccc; background: #fff; width: 41.5px; height: 32px; position: absolute; left: 0; -moz-transition: left 0.15s ease-out; -o-transition: left 0.15s ease-out; -webkit-transition: left 0.15s ease-out; transition: left 0.15s ease-out; }
.ui-on-off.active:before { background: #1a1; content: "ON"; color: #fff; padding-right: 41.5px; padding-left: 0; }
.ui-on-off.active:after { left: 41.5px; }
.ui-on-off input[type="checkbox"] { display: none; }

html.split-started * { user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }

#sides-pane { position: relative; z-index: 1; display: block; float: left; margin-left: -48px; width: 48px; padding-left: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#sides-pane ul { list-style: none; padding: 0; }
#sides-pane ul li { height: 48px; border: solid 1px silver; border-left: none; border-top: none; font-size: 0.8rem; text-align: center; line-height: 16px; }
#sides-pane ul li:first-of-type { border-top: solid 1px silver; }
#sides-pane ul li .periph { font-size: 0.7rem; }
#sides-pane ul li.active { background: yellow; }

#left-pane, #resize-line, #right-pane { height: 100%; float: left; margin: 0; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 0; }

#left-pane { width: 40%; padding-right: 48px; }

#resize-line { background: silver; width: 4px; margin-left: -48px; cursor: col-resize; z-index: 100; }

#right-pane { width: 60%; padding-left: 10px; overflow: auto; }
#right-pane .side-header { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; height: 30px; z-index: 1; }
#right-pane .side-content { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; height: 100%; padding-top: 30px; margin-top: -30px; z-index: 0; }
#right-pane .side { height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: none; position: relative; }
#right-pane .side.active { display: block; }

#main { padding-top: 22px; }

#header { position: fixed; top: 0; left: 0; width: 100%; background: #49483E; background: #3c3c33; color: #ddd; height: 22px; line-height: 20px; z-index: 1000; padding: 2px 20px 0 55px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#header:before { content: ""; background: #7ab14d; height: 2px; display: block; position: absolute; left: 0; top: 0; right: 0; }
#header a { color: inherit; text-decoration: none; }
#header > ul { padding: 0; margin: 0; list-style: none; display: inline-block; }
#header > ul > li { display: inline-block; }
#header > ul > li:not(:last-child) { margin-right: 15px; }

.popup-overlay { background: rgba(0, 0, 0, 0.3); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; overflow-y: auto; overflow-x: hidden; display: none; }
.popup-overlay.active { display: block; }

.popup-page { width: 62%; min-width: 320px; max-width: 800px; position: absolute; top: 16%; left: 50%; margin-bottom: 100px; }
.popup-page > .content { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; background: #fff; padding: 15px 23px; margin-left: -50%; position: relative; }

.popup-close { cursor: pointer; position: absolute; right: 10px; top: 10px; width: 10px; height: 12px; padding: 3px; line-height: 12px; font-size: 20px; }
.popup-close:hover { background: #eee; }

input[type="text"], input[type="password"] { border: solid 1px #ccc; padding: 3px 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

.input-unit-mb:after, .input-unit-mb-per-tick:after { position: relative; color: #bbb; font-size: 0.9rem; z-index: 1; }
.input-unit-mb input[type="text"], .input-unit-mb-per-tick input[type="text"] { position: relative; background: none; z-index: 2; }

.input-unit-mb:after { content: "mB"; margin-left: -28px; }

.input-unit-mb-per-tick:after { content: "mB/tick"; margin-left: -56px; }

@font-face { font-family: 'mc'; font-style: normal; font-weight: 400; src: url(../assets/mc.woff) format("woff"); }
html { font-family: 'Open Sans', sans-serif; font-size: 12px; }

#main { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }

#editor { position: relative; width: 100%; height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: monospace; white-space: pre; margin: 0; }

*[class*="span"] { position: relative; overflow: auto; }

label { display: block; }

#console { display: block; font-family: monospace; white-space: pre; }
#console .error { color: red; }

#right-pane .side-term .side-content { margin-top: 0; padding-top: 0; }

.fright { float: right; }
