@import url(http://fonts.googleapis.com/css?family=Open+Sans);
h1 { text-align: center; }

.ui-on-off { display: block; position: relative; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-top: 5px; }
.ui-on-off:before, .ui-on-off:after { display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 32px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; line-height: 32px; cursor: pointer; }
.ui-on-off:before { content: "OFF"; border: solid 1px #aaa; width: 83px; vertical-align: middle; background: #ccc; padding-left: 41.5px; text-align: center; color: #888; }
.ui-on-off:after { content: ""; border: solid 1px #ccc; background: #fff; width: 41.5px; height: 32px; position: absolute; left: 0; -moz-transition: left 0.15s ease-out; -o-transition: left 0.15s ease-out; -webkit-transition: left 0.15s ease-out; transition: left 0.15s ease-out; }
.ui-on-off.active:before { background: #1a1; content: "ON"; color: #fff; padding-right: 41.5px; padding-left: 0; }
.ui-on-off.active:after { left: 41.5px; }
.ui-on-off input[type="checkbox"] { display: none; }

html.split-started * { user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }

#sides-pane { position: relative; z-index: 1; display: block; float: left; margin-left: -50px; width: 50px; padding-left: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#sides-pane ul { list-style: none; padding: 0; margin: 0; }
#sides-pane ul li { height: 50px; border: solid 1px silver; border-left: none; border-top: none; cursor: pointer; font-size: 0.8rem; text-align: center; line-height: 16.66667px; }
#sides-pane ul li:hover { background: #eee; }
#sides-pane ul li .periph { font-size: 0.7rem; }
#sides-pane ul li.active { background: #7ab14d; color: #fff; }
#sides-pane ul li.separator { border-right: none; }
#sides-pane ul li.separator:hover { background: none; }

#left-pane, #resize-line, #right-pane { height: 100%; float: left; margin: 0; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 0; }

#left-pane { width: 40%; padding-right: 50px; }

#resize-line { background: silver; width: 4px; margin-left: -50px; cursor: col-resize; z-index: 100; }

#right-pane { width: 60%; padding-left: 0px; overflow: auto; }
#right-pane .side-header { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; height: 27px; line-height: 27px; padding: 0 0 0 5px; z-index: 1; background: #eee; }
#right-pane .side-content { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; height: 100%; padding-top: 27px; margin-top: -27px; z-index: 0; overflow: scroll; }
#right-pane .side-content fieldset { border: none; margin: 0; padding: 0 0 0 5px; }
#right-pane .side { height: 100%; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; visibility: hidden; z-index: 0; display: block; position: absolute; }
#right-pane .side.active { visibility: visible; z-index: 1; }

#main { padding-top: 34px; }

#header { position: fixed; top: 0; left: 0; width: 100%; background: #49483E; background: #3c3d34; color: #ddd; height: 34px; line-height: 32px; z-index: 1000; padding: 2px 20px 0 50px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#header:before { content: ""; background: #7ab14d; height: 2px; display: block; position: absolute; left: 0; top: 0; right: 0; }
#header a { color: inherit; text-decoration: none; }
#header > ul { padding: 0; margin: 0; list-style: none; display: inline-block; }
#header > ul > li { display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#header > ul > li:not(:last-child) { margin-right: 15px; }
#header > ul > li:hover { background: #7ab14d; }
#header > ul > li > a { height: 100%; display: inline-block; padding: 0 10px; }

.popup-overlay { background: rgba(0, 0, 0, 0.3); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; overflow-y: auto; overflow-x: hidden; display: none; }
.popup-overlay.active { display: block; }

.popup-page { width: 62%; min-width: 320px; max-width: 800px; position: absolute; top: 16%; left: 50%; margin-bottom: 100px; }
.popup-page > .content { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; background: #fff; padding: 15px 23px; margin-left: -50%; position: relative; }

.popup-close { cursor: pointer; position: absolute; right: 10px; top: 10px; width: 10px; height: 12px; padding: 3px; line-height: 12px; font-size: 20px; }
.popup-close:hover { background: #eee; }

#pastebin-result { text-align: center; }
#pastebin-result input { text-align: center; width: 100%; font-size: 1.2em; }
#pastebin-result.loading div.loading { display: block; }
#pastebin-result.loading div.loaded { display: none; }
#pastebin-result:not(.loading) div.loading { display: none; }
#pastebin-result:not(.loading) div.loaded { display: block; }

input[type="text"], input[type="password"] { border: solid 1px #ccc; padding: 3px 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

.input-unit-percent:after, .input-unit-mb:after, .input-unit-mb-per-tick:after, .input-unit-rf:after, .input-unit-rf-per-tick:after, .input-unit-rpm:after { position: relative; color: #999; font-size: 0.9rem; z-index: 1; display: inline-block; text-align: right; width: 50px; margin-left: -56px; margin-right: 6px; }
.input-unit-percent input[type="text"], .input-unit-mb input[type="text"], .input-unit-mb-per-tick input[type="text"], .input-unit-rf input[type="text"], .input-unit-rf-per-tick input[type="text"], .input-unit-rpm input[type="text"] { position: relative; background: none; z-index: 2; }

.input-unit-percent:after { content: "%"; }

.input-unit-mb:after { content: "mB"; }

.input-unit-mb-per-tick:after { content: "mB/tick"; }

.input-unit-rf:after { content: "RF"; }

.input-unit-rf-per-tick:after { content: "RF/tick"; }

.input-unit-rpm:after { content: "RPM"; }

@font-face { font-family: 'mc'; font-style: normal; font-weight: 400; src: url(../assets/mc.woff) format("woff"); }
html { font-family: 'Open Sans', sans-serif; font-size: 12px; }

#main { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }

#editor { position: relative; width: 100%; height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: monospace; white-space: pre; margin: 0; }

*[class*="span"] { position: relative; overflow: auto; }

label { display: block; }

#console { display: block; font-family: monospace; white-space: pre; }
#console .error { color: red; }

.fright { float: right; }
