$header-h: 20px;
$line-top-h: 2px;
#main
{
	padding-top: $header-h + $line-top-h;
}

#header
{
	&:before
	{
		content: "";
		background: #7ab14d;//url(../assets/mc-grass2.png);
		height: $line-top-h;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
	}
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	//background: #2F3129;
	background: #49483E;
	background: mix(#49483E, #2F3129);
	color: #ddd;
	height: $header-h + $line-top-h;
	line-height: $header-h;
	z-index: 1000;
	
	padding: $line-top-h 20px 0 55px;
	@include box-sizing(border-box);
	
	a
	{
		color: inherit;
		text-decoration: none;
	}
	
	> ul
	{
		padding: 0;
		margin: 0;
		list-style: none;
		display: inline-block;
		
		> li
		{
			display: inline-block;
			&:not(:last-child)
			{
				margin-right: 15px;
			}
		}
	}
}
