@import "breakpoints.scss";

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/box-sizing";
@import "compass/css3/user-interface";
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/background-size";
@import "compass/css3/columns";

//@import "util/bootstrap.responsive.scaffholding.scss";
@import "typography.scss";
@import "block.ui-on-off.scss";
@import "block.split-pane.scss";
@import "block.header.scss";
@import "block.popup.scss";
@import "block.pastebin-result.scss";
@import "ui.forms.scss";

@font-face {
  font-family: 'mc';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/mc.woff) format('woff');
}

html
{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

#main
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#editor
{
	position: relative;
	width: 100%;
	height: 100%;
	@include box-sizing(border-box);
	font-family: monospace;
	white-space: pre;
	margin: 0;
	//background: #fff;
}

*[class*="span"]
{
	position: relative;
	overflow: auto;
}

label
{
	display: block;
}

#console
{
	display: block;
  font-family: monospace;
  white-space: pre;
	.error
	{
		color: red;
	}
}

.fright
{
	float: right;
}
