input
{
	&[type="text"], &[type="password"]//, &[type="number"]//, &[type="password"], &[type="password"]
	{
		border: solid 1px #ccc;
		padding: 3px 5px;
		@include border-radius(3px);
	}
}


//-------------------------------- UNITS ---------------------------------------
%input-unit
{
	&:after
	{
		position: relative;
		color: #999;
		font-size: 0.9rem;
		z-index: 1;
		display: inline-block;
		text-align: right;
		width: 50px;
		margin-left: -56px;
	}
	input[type="text"]
	{
		position: relative;
		background: none;
		z-index: 2;
	}
}

.input-unit-percent
{
	@extend %input-unit;
	&:after
	{
		content: "%";
	}
}

.input-unit-mb
{
	@extend %input-unit;
	&:after
	{
		content: "mB";
	}
}

.input-unit-mb-per-tick
{
	@extend %input-unit;
	&:after
	{
		content: "mB/tick";
	}
}
