#*
*$
*.BAK
*.Z
*.bak
*.class
*.dylib
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*/.git/*
*~
,*
.#*
.DS_Store
.del-*
.deployables
.make.state
.nse_depinfo
.svn
.project
.settings
CVS.adm
RCS
RCSLOG
SCCS
_$*
_svn
webmaster
lua_vm_js
css/.sass-cache
