<div class="periph-redstone">
	<h3>Input</h3>
	<table>
		<tr><td>Power</td><td><input type="text" name="input-strength" value="8"></td></tr>
	</table>
	
	<h3>Output</h3>
	<div class="">Power : <span class="output-strength"></span></div>
</div>