<div class="periph-bigreactors-reactor-computer-port">
	<div class="ui-on-off is-connected activable active">Connected</div>
	<div class="ui-on-off is-active activable">Active</div>
	<div class="ui-on-off is-actively-cooled activable">Actively cooled</div>
	
	<table>
		<tr><td>Control rods</td><td><input type="text" name="nb-control-rods" value="1"></td></tr>
		<tr><td>Energy</td><td><input type="text" name="energy" value="0"> / 10M RF</td></tr>
		<tr><td>Fuel Temperature</td><td><input type="text" name="fuel-temp" value="0"></td></tr>
		<tr><td>Casing Temperature</td><td><input type="text" name="casing-temp" value="0"></td></tr>
		<tr><td>Fuel Amount</td><td><input type="text" name="fuel-amount" value="0"> / <input type="text" name="fuel-amount-max" value="8000"></td></tr>
		<tr><td>Waste Amount</td><td><input type="text" name="waste-amount" value="0"></td></tr>
		<tr><td>Energy Production</td><td><input type="text" name="energy-production" value="0"></td></tr>
		<tr><td>Coolant Type</td><td>
			<select name="coolant-type">
				<option>None</option>
				<option>Water</option>
				<option>Air</option>
				<option>Iron</option>
				<option>Gold</option>
				<option>Diamond</option>
				<option>Cryotheum</option>
				<option>Enderium</option>
			</select>
		</td></tr>
		<tr><td>Coolant Amount</td><td><input type="text" name="coolant-amount" value="0" class="input-uint-mb"></td></tr>
		<tr><td>Hot Fluid Type</td><td>
			<select name="hot-fluid-type">
				<option>None</option>
				<option>Water</option>
				<option>Air</option>
				<option>Iron</option>
				<option>Gold</option>
				<option>Diamond</option>
				<option>Cryotheum</option>
				<option>Enderium</option>
			</select>
		</td></tr>
		<tr><td>Hot fluid Amount</td><td class="input-unit-mb"><input type="text" name="hot-fluid-amount" value="0"></td></tr>
		<tr><td>Hot fluid Production</td><td class="input-unit-mb"><input type="text" name="hot-fluid-production" value="0"></td></tr>
		<tr><td>Fuel Reactivity</td><td class="input-unit-mb"><input type="text" name="fuel-reactivity" value="0"></td></tr>
		<tr><td>Fuel Consumption</td><td class="input-unit-mb-per-tick"><input type="text" name="fuel-consumption" value="0"></td></tr>
		<tr><td>Control Rod Level</td><td class="input-unit-percent"><input type="text" name="control-rod-level" value="0"></td></tr>
		<tr><td>(Different Control Rod Levels not supported)</td></tr>
	</table>
</div>